In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('gdp.csv')

In [3]:
df.head()

,Financial Year,Gross Domestic Product (in Rs. Cr) at 2004-05 Prices,Agriculture & Allied Services (in Rs. Cr.) at 2004-05 Prices,Agriculture (in Rs. Cr.) at 2004-05 Prices,Industry (in Rs. Cr.) at 2004-05 Prices,Mining and Quarrying (in Rs. Cr.) at 2004-05 Prices,Manufacturing (in Rs. Cr.) at 2004-05 Prices,Services (in Rs. Cr.) at 2004-05 Prices,Agri-culture & Allied Services -Share to Total GDP,Agriculture - Share to Total GDP,...,Mining and Quarrying - Share to Total GDP,Manufacturing - Share to Total GDP,Services - Share to Total GDP,Gross Domestic Product - % Growth Rate (YoY),Agri-culture & Allied Services - % Growth Rate (YoY),Agriculture - % Growth Rate (YoY),Industry - % Growth Rate (YoY),Mining and Quarrying - % Growth Rate (YoY),Manufacturing - % Growth Rate (YoY),Services - % Growth Rate (YoY)
0,1951-52,286147,147216,118877,47768,5772,25889,84799,5145,4154,...,202,905,2963,233,149,164,550,1233,316,267
1,1952-53,294267,151859,123822,47739,5905,26789,87438,5161,4208,...,201,910,2971,284,315,416,-6,231,348,311
2,1953-54,312177,163553,134958,50409,5993,28863,89940,5239,4323,...,192,925,2881,609,770,899,559,150,774,286
3,1954-55,325431,168361,138731,54574,6250,30885,94172,5173,4263,...,192,949,2894,425,294,280,826,428,701,471
4,1955-56,333766,166906,136679,60311,6348,33304,98845,5001,4095,...,190,998,2962,256,-86,-148,1051,158,783,496

In [4]:
cols = list(df.columns)
df = df[[cols[0], cols[2], cols[3], cols[4], cols[5], cols[6], cols[7]]]

In [17]:
n_frames = 50

rows = []
for i in range(len(df)-1):
    r1 = df.iloc[i].tolist()
    r2 = df.iloc[i+1].tolist()
    year = r1[0]
    temp = []
    for j in range(1, len(r1)):
        diff = (r2[j] - r1[j])/n_frames
        ss = [r1[j] + idx*diff  for idx in range(n_frames)]
        temp.append(ss)
        print(len(ss))
        
    temp = np.array(temp)
    temp = temp.T.tolist()
    
    for e in temp:
        e.insert(0, year)
        
    rows.extend(temp)
    rows.append(r2)

50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50

In [12]:
dd = pd.DataFrame(rows, columns = df.columns)
dd.head()

ValueError: 7 columns passed, passed data had 51 columns

In [20]:
.to_csv('ngdp.csv', index=False)